APP_NAME=CareSphere AI
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
FRONTEND_ORIGIN=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=caresphere_ai

JWT_SECRET=change-this-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720
STAFF_EMAIL_DOMAIN=caresphere.health

OPENAI_API_KEY=
GEMINI_API_KEY=
LLM_PROVIDER=mock

AZURE_OPENAI_API_KEY=AUjgW6q3oyTgLu3rKYLZ9YJse5vHcSZ0ZPd5MYf0adi2N7eHUi2LJQQJ99CEACNns7RXJ3w3AAABACOGN85T
AZURE_OPENAI_ENDPOINT=https://ihss.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-15-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1

RAZORPAY_KEY_ID=rzp_test_S2rpgSte1K3qbK
RAZORPAY_KEY_SECRET=NgRusi6tGJFKfIIXMCSvySYX
RAZORPAY_WEBHOOK_SECRET=
